@mixin colors() {

  @each $name,
  $color in $colors {
    &--#{$name} {
      background-color: $color;
    }
  }
}

.g {
  &-avatar {
    @include default-text-style;

    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    pointer-events: none;

    &__src {
      width: 100%;
    }

    &--tile {
      border-radius: 0;
    }

    @include colors;
  }
}
