.g {
  &-checkbox {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    user-select: none;

    @include absolute-height(48px);

    &__holder {
      cursor: pointer;
      user-select: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include absolute-height(48px);
      @include absolute-width(48px);
    }

    &__background {
      border-width: 2px;
      border-style: solid;
      border-color: $black-54;
      border-radius: 2px;
      transition-property: border-color, background-color;
      transition-duration: 100ms;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include absolute-height(18px);
      @include absolute-width(18px);
    }

    &__checkmark {
      fill: var(--white);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition-property: opacity;
      transition-duration: 100ms;
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      will-change: opacity;
      opacity: 0;
      height: 100%;
      width: 100%;

      &__path {
        fill: transparent;
        stroke: var(--white);
        stroke-width: 3.12px;
        stroke-dashoffset: 29.7833385;
        stroke-dasharray: 29.7833385;
      }
    }

    &__label {
      padding-right: 16px;

      @include default-text-style;

      color: $black-84;
      cursor: pointer;
      user-select: none;
    }

    &--checked {
      & > .g-checkbox__holder {
        & > .g-checkbox__background {
          border-color: var(--primary);
          background-color: var(--primary);

          & > .g-checkbox__checkmark {
            opacity: 1;

            & > .g-checkbox__checkmark__path {
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }

    &--disabled {
      & * {
        cursor: default;
        user-select: none;
      }

      & > .g-checkbox__holder {
        & > .g-checkbox__background {
          border-color: var(--grey);
          background-color: transparent;

          & > .g-checkbox__checkmark {
            fill: var(--grey);
            opacity: 1;

            & > .g-checkbox__checkmark__path {
              stroke: var(--grey);
            }
          }
        }
      }

      & > .g-checkbox__label {
        color: var(--grey);
      }
    }
  }
}
