.g {
  &-empty {
    color: $black-12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    height: 100%;

    &__title {
      @include default-text-style(13px);
      
      text-align: center;
    }

    &:not(.g-empty--padless) {
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}
