* {
  box-sizing: border-box;
}

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

body {
  margin: 0;
  font-family: $font-family;
  line-height: normal;
  overflow-x: initial;
  overflow-y: initial;
  height: 100%;
}
